<template>
    <lightning-quick-action-panel title="Quick Action Title">
      Quick Action using LWC<br/> Demo by newstechnologystuff
      <div slot="footer">
        <lightning-button variant="neutral" label="Cancel" onclick={closeAction}></lightning-button>
        <lightning-button variant="brand" label="Save" onclick={closeAction}></lightning-button>
      </div>
    </lightning-quick-action-panel>
</template>